{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Route</h3>
  <div class="form-group">
    <label for="start">Start Point</label>
    <input
      type="start"
      class="form-control"
      id="start"
      name="start"
      placeholder="Enter your start address"
    />
  </div>
  <div class="form-group">
    <label for="end">End Point</label>
    <input
      type="end"
      class="form-control"
      id="end"
      name="end"
      placeholder="Enter your Destination"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-success bg-#19900">Get route</button>
</form>
{% endblock %}