{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Electric Vehicle registration</h3>
  <div class="form-group">
    <label for="make">Car Make</label>
    <input
      type="make"
      class="form-control"
      id="make"
      name="make"
      placeholder="Enter your car make"
    />
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <input
      type="model"
      class="form-control"
      id="model"
      name="model"
      placeholder="Enter your car model"
    />
  </div>
    <div class="form-group">
    <label for="registration">Registration</label>
    <input
      type="registration"
      class="form-control"
      id="registration"
      name="registration"
      placeholder="Enter your car's number plate'"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-success bg-#19900">Submit</button>
</form>
{% endblock %}